body{
    height: 100vh;
    background-color: chocolate;
}


.couleurs{
    display: grid;
    border-radius: 50%;
    height: 80vh;
    width: 80vh;
    grid-template-columns: repeat(2,1fr);
    
}
#red{
    height: 40vh;
    width: 40vh;
    background-color: red;
}
#vert{
    height: 40vh;
    width: 40vh;
    background-color: green;
}
#jaune{
    height: 40vh;
    width: 40vh;
    background-color: yellow;
}
#bleu{
    height: 40vh;
    width: 40vh;
    background-color: blue;
}